<footer>
    <div fxLayout="row" flex>
        <div class="btm-footer">
            <a href="https://www.linkedin.com/in/barbarabgaribaldi"><img src="../../../assets/icons/Linkedin_2.png"></a>
            <a href="https://github.com/bahrbara"><img src="../../../assets/icons/Github_2.png"></a>
            <a href="https://www.facebook.com/barbarablankg"><img src="../../../assets/icons/Facebook_2.png"></a>
            <a href="https://arctouch.com"><img class="arch-img" src="../../../assets/icons/logo_normal_white.png"></a>
        </div>
        <div class="copy-footer">
            ©Copyright 2020
        </div>
    </div>
  </footer>