<app-header></app-header>
<section class="movies">

 <mat-progress-bar *ngIf="loading" class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
 
  <div class="list" *ngIf="movies && !loading" style="flex-direction: row; flex-wrap: wrap; justify-content: center; width: 100%; text-align: center;">
    <div class="card" *ngFor="let data of movies">
      <div class="card-img">
        <img src="https://image.tmdb.org/t/p/w500/{{data.poster_path}}" alt="data.title" [routerLink]="['/movie', data.id]" style="width: 75%;">
      </div>
      <div class="movie-info">
        <p>{{ data.title }}</p>
        <p> Release date: {{ data.release_date | date:'longDate'}}</p>
    </div>
   </div>
  </div>
</section>
<app-footer></app-footer>



